/*HERO SECTION*/
.hero-section {
    background: #F4F5F7;
}

.hero-section__header {
    width: 635px;
    padding-top: 96px;
    padding-bottom: 72px;
}

.hero-section__title {
    margin: 0;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    color: $color-text-dark;
}

.hero-section__text {
    margin: 0;
    margin-top: 16px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: $color-text;
}

.hero-section__list {
    @include reset-list;
    display: flex;
    padding-bottom: 94px;
}

.list-item ~ .list-item {
    margin-left: 30px;
}

.list-item__img {
    width: 72px;
    height: 72px;
    padding: 16px;
    margin-bottom: 40px;
    background-image: $site-gradient;
    border-radius: 50%;
}

.list-item__image {
    width: 40px;
    height: 40px;
    display: block;
}

.list-item__title {
    margin: 0;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.428571px;
    color: $color-text-dark;
}

.list-item__text {
    margin: 0;
    margin-top: 26px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: $color-text;
}


@include breakpoint-down (960px) {
    .hero-section__list {
        flex-wrap: wrap;
    }
    .list-item ~ .list-item {
        margin-left: 0;
    }
    .list-item {
        width: 50%;
        padding: 10px;
    }
}

@include breakpoint-down (680px) {
    .hero-section__header {
        width: 90%;
        padding-top: 58px;
        padding-bottom: 50px;
    }
    .list-item {
        width: 100%;
        text-align: center;
    }
    .list-item__img {
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@include breakpoint-down (550px) {
    .hero-section__title {
        font-size: 36px;
    }
    .hero-section__text {
        font-size: 16px;
    }    
}

@include breakpoint-down (434px) {
    .hero-section__title {
        font-size: 28px;
    }
    .hero-section__text {
        font-size: 15px;
        line-height: 26px;
    } 
}

@include breakpoint-down (360px) {
    .hero-section__title {
        font-size: 24px;
    }
    .hero-section__text {
        font-size: 15px;
        line-height: 24px;
    } 
    .list-item__text {
        margin-top: 20px;
        font-size: 14px;
        line-height: 24px;
    }
}