/* FOOTER */
.site-footer {
    background: #2D314D;
}

.site-footer__content {
    display: flex;
    padding-top: 48px;
    padding-bottom: 48px;
}

.site-footer__logo-img {
    margin-bottom: 55px;
    width: 139px;
    display: block;
}

.link-icon {
    text-decoration: none;
    margin-right: 13px;
    
}

.link-icon:hover path{
    fill: #30C88F;
    transition: fill 0.5s ease;
}

.site-footer__list {
    @include reset-list;
    margin-left: 130px;
}

.site-footer__list-item {
    margin-bottom: 8px;
}

.list-item__link {
    @include reset-link;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    color: #FFFFFF;
    transition: color 0.4s ease;
}

.list-item__link:hover {
    color: #30C88F;
}

.site-footer__button {
    margin-left: 215px;
    text-align: right;
}

.footer-button {
    @include site-button;
    cursor: pointer;
    transition: opacity 0.4s ease;
}
.footer-button:hover {
    opacity: .6;
}

.site-footer__button-text {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    letter-spacing: -0.234375px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

@include breakpoint-down (1070px) {
    .site-footer__list {
        margin-left: 110px;
    }
    .site-footer__button {
        margin-left: 180px;
    }
    .link-icon {
        margin-right: 3px;
    }

}

@include breakpoint-down (930px) {
    .site-footer__list {
        margin-left: 95px;
    }
    .list-item__link {
        font-size: 14px;
    }
    .site-footer__button-text {
        font-size: 14px;
    }
}


@include breakpoint-down (889px) {
    .site-footer__list {
        margin-left: 85px;
    }
    .site-footer__button {
        margin-left: 90px;
    }
}

@include breakpoint-down (770px) {
    .link-icon {
        margin-left: 2px;
    }
    .site-footer__list {
        margin-left: 75px;
    }

    .site-footer__button {
        margin-left: 80px;
    }
    .footer-button {
        font-size: 13px;
    }
    .site-footer__button-text{
        font-size: 13px;
    }
}

@include breakpoint-down (750px) {
    .site-footer__content {
        flex-wrap: wrap;
    }
    .site-footer__link {
        display: flex;
        // width: 100%;
    }
    .site-footer__list {
        margin-left: 0;
        padding-right: 85px;
    }
    .site-footer__logo {
        margin-right: 25px;
    }
    .link-icon {
        margin-left: 10px;
    }
}


@include breakpoint-down (620px) {
    .site-footer__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .site-footer__link {
        display: block;
        // width: 40%;
        margin-bottom: 10px;
    }
    .site-footer__logo-img {
        margin-bottom: 30px;
        margin-left: 20px;
    }
    .site-footer__list {
        padding-right: 25px;
        text-align: center;
    }

    .site-footer__button {
        text-align: center;
        margin-top: 10px;
        margin-left: 17px;
    }
}

@include breakpoint-down (320px) {
    
}